# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# TypeScript
*.tsbuildinfo

# MacOS
.DS_Store

# Editors
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.*
